@import "tailwindcss";



.loading {
  animation: Loading 2s ease-out infinite;
}

@keyframes Loading {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(-200px);
  }
}